﻿@model WebFormsDM.Web.Models.FillFormViewModel
@{
    ViewData["Title"] = "FillCreatedForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    h4 {
        text-align: center;
    }

    h5 {
        text-align: center;
    }
</style>

<br />
@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-1">
            <a asp-controller="Forms" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-info">Edit  </a>
        </div>
        <div class="col-md-1">
            <a asp-controller="Forms" asp-action="GetFormWithAnswers" asp-route-id="@Model.Id" class="btn btn-outline-info">Answers</a>
        </div>
    </div>
}
<br />

<div class="card card-body">
    <form enctype="multipart/form-data" asp-action="Fill" method="post" onsubmit="return validateForm()">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <h4 class="card-title">@Model.Title</h4>
        <h5 class="card-subtitle mb-2 text-muted">@Model.Description</h5>
        <br />
        <br />
        <!-- Text Questions-->
        @{
            int textQMaxOrderNumber = 0;
            int optionQMaxOrderNumber = 0;
            int documentQMaxOrderNumber = 0;

            if (Model.TextQuestionAndAnswersViewModels.Count != 0)
            {
                textQMaxOrderNumber = Model.TextQuestionAndAnswersViewModels.LastOrDefault().TextQuestionViewModel.OrderNumber;
            }

            if (Model.OptionQuestionsAndAnswersViewModels.Count != 0)
            {
                optionQMaxOrderNumber = Model.OptionQuestionsAndAnswersViewModels.LastOrDefault().OptionQuestionsViewModel.OrderNumber;
            }

            if (Model.DocumentQuestionsAndAnswers.Count != 0)
            {
                documentQMaxOrderNumber = Model.DocumentQuestionsAndAnswers.LastOrDefault().DocumentQuestionViewModel.OrderNumber;
            }

            int maxOrderNumber = textQMaxOrderNumber;

            if (optionQMaxOrderNumber > textQMaxOrderNumber && optionQMaxOrderNumber > documentQMaxOrderNumber)
            {
                maxOrderNumber = optionQMaxOrderNumber;
            }
            else if (documentQMaxOrderNumber > textQMaxOrderNumber && documentQMaxOrderNumber > optionQMaxOrderNumber)
            {
                maxOrderNumber = documentQMaxOrderNumber;
            }
        }

        @for (int i = 1; i <= maxOrderNumber; i++)
        {
            for (int j = 0; j < Model.TextQuestionAndAnswersViewModels.Count; j++)
            {
                if (Model.TextQuestionAndAnswersViewModels[j].TextQuestionViewModel.OrderNumber == i)
                {

                    <div class="form-group">
                        <input asp-for="@Model.TextQuestionAndAnswersViewModels[j].TextQuestionViewModel.Description" class="form-control" id="questionDescription" readonly />
                        <span asp-validation-for="@Model.TextQuestionAndAnswersViewModels[j].TextQuestionViewModel.Description" class="text-danger"></span>
                        <input type="hidden" asp-for="@Model.TextQuestionAndAnswersViewModels[j].TextQuestionViewModel.Id" value="@Model.TextQuestionAndAnswersViewModels[j].TextQuestionViewModel.Id">
                        <input type="hidden" asp-for="@Model.TextQuestionAndAnswersViewModels[j].TextQuestionViewModel.FormId" value="@Model.TextQuestionAndAnswersViewModels[j].TextQuestionViewModel.FormId">
                    </div>
                    if (Model.TextQuestionAndAnswersViewModels[j].TextQuestionViewModel.IsLongAnswer == true)
                    {
                        if (Model.TextQuestionAndAnswersViewModels[j].TextQuestionViewModel.IsRequired == true)
                        {
                            <!-- Required -->
                            <div class="form-group">
                                <textarea required asp-for="@Model.TextQuestionAndAnswersViewModels[j].TextQuestionAnswersViewModel.Answer" class="form-control" placeholder="Enter your answer" id=""></textarea>
                                <span asp-validation-for="@Model.TextQuestionAndAnswersViewModels[j].TextQuestionAnswersViewModel.Answer" class="text-danger"></span>
                                <input type="hidden" asp-for="@Model.TextQuestionAndAnswersViewModels[j].TextQuestionAnswersViewModel.TextQuestionId" value="@Model.TextQuestionAndAnswersViewModels[j].TextQuestionViewModel.Id">
                                Required: <input type="checkbox" id="myCheck" name="test" disabled="disabled" checked>

                            </div>
                        }
                        else
                        {
                            <!-- Not Required -->
                            <div class="form-group">
                                <textarea asp-for="@Model.TextQuestionAndAnswersViewModels[j].TextQuestionAnswersViewModel.Answer" class="form-control" placeholder="Enter your answer" id=""></textarea>
                                <span asp-validation-for="@Model.TextQuestionAndAnswersViewModels[j].TextQuestionAnswersViewModel.Answer" class="text-danger"></span>
                                <input type="hidden" asp-for="@Model.TextQuestionAndAnswersViewModels[j].TextQuestionAnswersViewModel.TextQuestionId" value="@Model.TextQuestionAndAnswersViewModels[j].TextQuestionViewModel.Id">
                                Required: <input type="checkbox" id="myCheck" name="test" disabled="disabled">
                            </div>
                        }
                    }
                    else
                    {
                        if (Model.TextQuestionAndAnswersViewModels[j].TextQuestionViewModel.IsRequired == true)
                        {
                            <!-- Required -->
                            <div class="form-group">
                                <input required asp-for="@Model.TextQuestionAndAnswersViewModels[j].TextQuestionAnswersViewModel.Answer" class="form-control" placeholder="Enter your answer" id="" />
                                <span asp-validation-for="@Model.TextQuestionAndAnswersViewModels[j].TextQuestionAnswersViewModel.Answer" class="text-danger"></span>
                                <input type="hidden" asp-for="@Model.TextQuestionAndAnswersViewModels[j].TextQuestionAnswersViewModel.TextQuestionId" value="@Model.TextQuestionAndAnswersViewModels[j].TextQuestionViewModel.Id">
                                Required: <input type="checkbox" id="myCheck" name="test" disabled="disabled" checked>
                            </div>
                        }
                        else
                        {
                            <!-- Not Required -->
                            <div class="form-group">
                                <input asp-for="@Model.TextQuestionAndAnswersViewModels[j].TextQuestionAnswersViewModel.Answer" class="form-control" placeholder="Enter your answer" id="" />
                                <span asp-validation-for="@Model.TextQuestionAndAnswersViewModels[j].TextQuestionAnswersViewModel.Answer" class="text-danger"></span>
                                <input type="hidden" asp-for="@Model.TextQuestionAndAnswersViewModels[j].TextQuestionAnswersViewModel.TextQuestionId" value="@Model.TextQuestionAndAnswersViewModels[j].TextQuestionViewModel.Id">
                                Required: <input type="checkbox" id="myCheck" name="test" disabled="disabled">
                            </div>
                        }
                    }
                }
            }
            for (int j = 0; j < Model.DocumentQuestionsAndAnswers.Count; j++)
            {
                if (Model.DocumentQuestionsAndAnswers[j].DocumentQuestionViewModel.OrderNumber == i)
                {
                    <div class="form-group">
                        <input asp-for="@Model.DocumentQuestionsAndAnswers[j].DocumentQuestionViewModel.Description " class="form-control" id="questionDescription" readonly />
                        <span asp-validation-for="@Model.DocumentQuestionsAndAnswers[j].DocumentQuestionViewModel.Description" class="text-danger"></span>
                        <input type="hidden" asp-for="@Model.DocumentQuestionsAndAnswers[j].DocumentQuestionViewModel.FormId" value="@Model.DocumentQuestionsAndAnswers[j].DocumentQuestionViewModel.FormId">
                        <input type="hidden" asp-for="@Model.DocumentQuestionsAndAnswers[j].DocumentQuestionViewModel.MaxFileSize" value="@Model.DocumentQuestionsAndAnswers[j].DocumentQuestionViewModel.MaxFileSize">
                        <input type="hidden" asp-for="@Model.DocumentQuestionsAndAnswers[j].DocumentQuestionViewModel.IsRequired" value="@Model.DocumentQuestionsAndAnswers[j].DocumentQuestionViewModel.IsRequired">
                        <input type="hidden" asp-for="@Model.DocumentQuestionsAndAnswers[j].DocumentQuestionViewModel.NumberOfFiles" value="@Model.DocumentQuestionsAndAnswers[j].DocumentQuestionViewModel.NumberOfFiles">
                    </div>

                    int numberOfFiles = Model.DocumentQuestionsAndAnswers[j].DocumentQuestionViewModel.NumberOfFiles;
                    string itemFiles = "";
                    if (numberOfFiles > 1)
                    {
                        itemFiles = "Please, select at least " + numberOfFiles + " files...";
                    }
                    if (numberOfFiles == 1)
                    {
                        itemFiles = "Please, select at least " + numberOfFiles + " file...";
                    }
                    if (Model.DocumentQuestionsAndAnswers[j].DocumentQuestionViewModel.IsRequired == true)
                    {
                        <p>@itemFiles</p>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <div class="custom-file" onchange="Filevalidation()">
                                    <input required asp-for="@Model.DocumentQuestionsAndAnswers[j].DocumentQuestionAnswersViewModel.Files" id="@j" class="form-control custom-file-input ">
                                    <label class="custom-file-label">Choose file...</label>
                                    <span asp-validation-for="@Model.DocumentQuestionsAndAnswers[j].DocumentQuestionAnswersViewModel.Files" class="text-danger"></span>
                                    <input type="hidden" asp-for="@Model.DocumentQuestionsAndAnswers[j].DocumentQuestionAnswersViewModel.DocumentQuestionId" value="@Model.DocumentQuestionsAndAnswers[j].DocumentQuestionViewModel.Id">
                                </div>
                                Required: <input type="checkbox" id="myCheck" name="test" disabled="disabled" checked>
                            </div>
                        </div>
                    }
                    else
                    {
                        <p>@itemFiles</p>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <div class="custom-file" id="file">
                                    <input asp-for="@Model.DocumentQuestionsAndAnswers[j].DocumentQuestionAnswersViewModel.Files" id="@j" class="form-control custom-file-input ">
                                    <label class="custom-file-label">Choose file...</label>
                                    <span asp-validation-for="@Model.DocumentQuestionsAndAnswers[j].DocumentQuestionAnswersViewModel.Files" class="text-danger"></span>
                                    <input type="hidden" asp-for="@Model.DocumentQuestionsAndAnswers[j].DocumentQuestionAnswersViewModel.DocumentQuestionId" value="@Model.DocumentQuestionsAndAnswers[j].DocumentQuestionViewModel.Id">
                                </div>
                                Required: <input type="checkbox" id="myCheck" name="test" disabled="disabled">
                            </div>
                        </div>
                    }

                }
            }
            for (int j = 0; j < Model.OptionQuestionsAndAnswersViewModels.Count; j++)
            {
                if (Model.OptionQuestionsAndAnswersViewModels[j].OptionQuestionsViewModel.OrderNumber == i)
                {

                    <div class="form-group">
                        <input asp-for="@Model.OptionQuestionsAndAnswersViewModels[j].OptionQuestionsViewModel.Description" class="form-control" id="questionDescription" readonly />
                        <span asp-validation-for="@Model.OptionQuestionsAndAnswersViewModels[j].OptionQuestionsViewModel.Description" class="text-danger"></span>
                        <input type="hidden" asp-for="@Model.OptionQuestionsAndAnswersViewModels[j].OptionQuestionsAnswersViewModel.OptionsQuestionId" value="@Model.OptionQuestionsAndAnswersViewModels[j].OptionQuestionsViewModel.Id">
                        <input type="hidden" asp-for="@Model.OptionQuestionsAndAnswersViewModels[j].OptionQuestionsViewModel.FormId" value="@Model.OptionQuestionsAndAnswersViewModels[j].OptionQuestionsViewModel.FormId">
                        <input type="hidden" asp-for="@Model.OptionQuestionsAndAnswersViewModels[j].OptionQuestionsViewModel.IsRequired" value="@Model.OptionQuestionsAndAnswersViewModels[j].OptionQuestionsViewModel.IsRequired">
                        <input type="hidden" asp-for="@Model.OptionQuestionsAndAnswersViewModels[j].OptionQuestionsViewModel.IsAllowedMultipleAnswers" value="@Model.OptionQuestionsAndAnswersViewModels[j].OptionQuestionsViewModel.IsAllowedMultipleAnswers">
                        @if (Model.OptionQuestionsAndAnswersViewModels[j].OptionQuestionsViewModel.IsRequired == true)
                        {
                            <div>
                                Required: <input type="checkbox" id="myCheck" name="test" disabled="disabled" checked>
                            </div>
                        }
                        else
                        {
                            <div>
                                Required: <input type="checkbox" id="myCheck" name="test" disabled="disabled">
                            </div>
                        }
                    </div>
                    for (int k = 0; k < Model.OptionQuestionsAndAnswersViewModels[j].OptionQuestionsViewModel.Options.Count; k++)
                    {
                        int counter = 0;
                        <!-- Multiple Radios -->
                        if (Model.OptionQuestionsAndAnswersViewModels[j].OptionQuestionsViewModel.IsAllowedMultipleAnswers == false)
                        {

                            <div class="form-check">
                                <div class="controls">
                                    <label class="radio" for="multipleradios-0-k">
                                        <input type="hidden" asp-for="@Model.OptionQuestionsAndAnswersViewModels[j].OptionQuestionsAnswersViewModel.OptionsQuestionId" value="@Model.OptionQuestionsAndAnswersViewModels[j].OptionQuestionsViewModel.Id">


                                        @Html.RadioButtonFor(a => a.OptionQuestionsAndAnswersViewModels[j].OptionQuestionsAnswersViewModel.OptionsAsString,
                                        Model.OptionQuestionsAndAnswersViewModels[j].OptionQuestionsViewModel.Options[k].Option,
                                        new { OptionsAsString = Model.OptionQuestionsAndAnswersViewModels[j].OptionQuestionsViewModel.Options[k].Option })

                                        @Model.OptionQuestionsAndAnswersViewModels[j].OptionQuestionsViewModel.Options[k].Option
                                    </label>
                                </div>
                            </div>

                        }

                        else
                        {
                            <!-- Check box-->
                            <div class="form-check">
                                @Html.HiddenFor(m => m.OptionQuestionsAndAnswersViewModels[j].OptionQuestionsViewModel.Options[k].Option)
                                @Html.CheckBoxFor(m => m.OptionQuestionsAndAnswersViewModels[j].OptionQuestionsViewModel.Options[k].IsSelected)
                                @Html.LabelFor(m => m.OptionQuestionsAndAnswersViewModels[j].OptionQuestionsViewModel.Options[k].IsSelected, Model.OptionQuestionsAndAnswersViewModels[j].OptionQuestionsViewModel.Options[k].Option)
                                <input type="hidden" asp-for="@Model.OptionQuestionsAndAnswersViewModels[j].OptionQuestionsAnswersViewModel.OptionsQuestionId" value="@Model.OptionQuestionsAndAnswersViewModels[j].OptionQuestionsViewModel.Id">
                                <input type="hidden" asp-for="@Model.OptionQuestionsAndAnswersViewModels[j].OptionQuestionsViewModel.Options[k].Id" value="@Model.OptionQuestionsAndAnswersViewModels[j].OptionQuestionsViewModel.Options[k].Id">

                            </div>
                            counter++;

                        }
                    }
                }
            }
        }
        <br />
        <div class="row">
            <div class="col-md-1">
                <input type="submit" asp-controller="FillForm" asp-action="Fill" value="Submit" class="btn btn-info" />
            </div>
            <div class="col-md-1">
                <a asp-controller="FillForm" asp-action="Fill" class="btn btn-info">Cancel</a>
            </div>


        </div>

    </form>
</div>


@section Scripts{

    <script>
        function validateForm() {
            var count = @Model.DocumentQuestionsAndAnswers.Count();
            var limits = [];
            var fileSize = [];


            @foreach (var item in Model.DocumentQuestionsAndAnswers)
              {
                  var currentSize = item.DocumentQuestionViewModel.MaxFileSize.Split("MB").First();
                  @:var currentSizeAtJS = @currentSize;


                  @:limits.push(@item.DocumentQuestionViewModel.NumberOfFiles);
                  @:fileSize.push(currentSizeAtJS * 1024 * 1024);

              }

            for (var i = 0; i < count; i++) {
                var currentFile = $('#' + i)[0].files;

                if (currentFile.length > limits[i]) {
                    alert("You can select max " + limits[i] + " files.");
                    return false;
                }

                for (var j = 0; j < currentFile.length; j++) {
                    if (currentFile[j].size > fileSize[i]) {
                        alert("File is too big!");
                        return false;
                    }
                }
            }
            return true;
        };

    </script>
}






