﻿@model WebFormsDM.Web.Models.FillFormViewModel
@{
    ViewData["Title"] = "SuccessfullyCompleted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<img src="~/Images/SuccessMessageTransparent.png" height="463" width="1100" alt="The form was submitted successfully." />
<br />
<p align="center">
    <a asp-controller="FillForm" asp-action="Fill" asp-route-id="@Model.Id" class="btn btn-outline-info">Answer again</a>
</p>