﻿@model WebFormsDM.Web.Models.FormViewModel

@{
    ViewData["Title"] = "_FormWithAnswersPartial";
}

<style>
    h4 {
        text-align: center;
    }

    h5 {
        text-align: center;
    }
</style>

<div class="card card-body">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <h4 class="card-title">@Model.Title</h4>
    <h5 class="card-subtitle mb-2 text-muted">@Model.Description</h5>
    <br />
    <br />
    <div class="col-sm-12" id="questionContainer">
        @{
            var currentToken = Model.AllCorrelationTokens.FirstOrDefault();
            int counter = 1;
            int optionQuestionCounter = 1;
            //int optionsCounter = 1;
            int documentQuestionCounter = 1;
            //int allQuestionsCount = Model.TextQuestions.Count
            //                      + Model.OptionQuestions.Count
            //                      + Model.DocumentQuestions.Count;
            int textQMaxOrderNumber = 0;
            int optionQMaxOrderNumber = 0;
            int documentQMaxOrderNumber = 0;

            if (Model.TextQuestions.Count != 0)
            {
                textQMaxOrderNumber = Model.TextQuestions.LastOrDefault().OrderNumber;
            }

            if (Model.OptionQuestions.Count != 0)
            {
                optionQMaxOrderNumber = Model.OptionQuestions.LastOrDefault().OrderNumber;
            }

            if (Model.DocumentQuestions.Count != 0)
            {
                documentQMaxOrderNumber = Model.DocumentQuestions.LastOrDefault().OrderNumber;
            }

            int maxOrderNumber = textQMaxOrderNumber;

            if (optionQMaxOrderNumber > textQMaxOrderNumber && optionQMaxOrderNumber > documentQMaxOrderNumber)
            {
                maxOrderNumber = optionQMaxOrderNumber;
            }
            else if (documentQMaxOrderNumber > textQMaxOrderNumber && documentQMaxOrderNumber > optionQMaxOrderNumber)
            {
                maxOrderNumber = documentQMaxOrderNumber;
            }
        }

        @for (int i = 1; i <= maxOrderNumber; i++)
        {

            for (int j = 0; j < Model.TextQuestions.Count; j++)
            {
                if (Model.TextQuestions[j].OrderNumber == i)
                {
                    <div class="form-group" id="QuestionID_@i">
                        @*<div class="form-group">*@
                        <input value="@Model.TextQuestions[j].Description" class="form-control" id="textQuestionDescription_@counter" readonly />
                        <input type="hidden" id="OrderNumber_@counter" name="OrderNumber" value="@Model.TextQuestions[j].OrderNumber">
                        <div class="form-group">
                            <br />
                            <div class="custom-control custom-switch">
                                <input asp-for="@Model.TextQuestions[j].IsRequired" type="checkbox" class="custom-control-input" id="IsRequiredTextQuestion_@counter" disabled="disabled">
                                <label class="custom-control-label" for="IsRequiredTextQuestion_@counter">Required</label>
                            </div>
                            @for (int k = 0; k < Model.TextQuestions[j].Answers.Count; k++)
                            {
                                if (Model.TextQuestions[j].Answers.ToList()[k].CorrelationToken == currentToken)
                                {
                                    <input value="@Model.TextQuestions[j].Answers.ToList()[k].Answer" class="form-control" id="textQuestionAnswer_@counter" readonly />
                                }
                            }
                        </div>
                        <br />
                    </div>
                    @*</div>*@
                    counter++;
                    break;
                }
            }

            for (int k = 0; k < Model.OptionQuestions.Count; k++)
            {
                if (Model.OptionQuestions[k].OrderNumber == i)
                {

                    <div class="form-group" id="QuestionID_@i">
                        @*<div class="form-group">*@
                        <input value="@Model.OptionQuestions[k].Description" class="form-control" id="optionQuestionDescription_@optionQuestionCounter" readonly />
                        <input type="hidden" id="OrderNumberOQ_@optionQuestionCounter" name="OrderNumber" value="@Model.OptionQuestions[k].OrderNumber">
                        <div class="form-group">
                            <div class="custom-control custom-switch">
                                <input asp-for="@Model.OptionQuestions[k].IsRequired" type="checkbox" class="custom-control-input" id="IsRequiredOptionQuestion_@optionQuestionCounter" disabled="disabled">
                                <label class="custom-control-label" for="IsRequiredOptionQuestion_@optionQuestionCounter">Required</label>
                                <span asp-validation-for="@Model.OptionQuestions[k].IsRequired" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-11" id="add_@optionQuestionCounter">
                                    @for (int m = 0; m < Model.OptionQuestions[k].Options.Count; m++)
                                    {
                                        for (int n = 0; n < Model.OptionQuestions[k].Answers.Count; n++)
                                        {
                                            if (Model.OptionQuestions[k].Answers.ToList()[n].CorrelationToken == currentToken)
                                            {
                                                var optionQuestonAswers = Model.OptionQuestions[k].Answers.ToList()[n].Answer.Split(",").ToList();

                                                if (Model.OptionQuestions[k].IsAllowedMultipleAnswers == false)
                                                {

                                                    for (int p = 0; p < optionQuestonAswers.Count; p++)
                                                    {
                                                        if (optionQuestonAswers[p] == Model.OptionQuestions[k].Options[m].Option)
                                                        {
                                                            <div class="form-check">
                                                                <input type="radio" class="form-check-input" id="materialGroupExample2" name="groupOfMaterialRadios_@optionQuestionCounter" value="Y" checked disabled>
                                                                <label class="form-check-label" for="@Model.OptionQuestions[k].Options[m].Option">@Model.OptionQuestions[k].Options[m].Option</label>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="form-check">
                                                                <input type="radio" class="form-check-input" id="materialGroupExample2" name="groupOfMaterialRadios_@optionQuestionCounter" value="N" disabled>
                                                                <label class="form-check-label" for="@Model.OptionQuestions[k].Options[m].Option">@Model.OptionQuestions[k].Options[m].Option</label>
                                                            </div>
                                                        }
                                                    }
                                                }
                                                else
                                                {
                                                    if (optionQuestonAswers.Contains(Model.OptionQuestions[k].Options[m].Option))
                                                    {
                                                        <!-- Default checked -->
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="defaultChecked2" disabled="disabled" checked>
                                                            <label class="custom-control-label" for="@Model.OptionQuestions[k].Options[m].Option">@Model.OptionQuestions[k].Options[m].Option</label>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <!-- Default checked -->
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="DefaultUncheckeds" disabled="disabled">
                                                            <label class="custom-control-label" for="@Model.OptionQuestions[k].Options[m].Option">@Model.OptionQuestions[k].Options[m].Option</label>
                                                        </div>
                                                    }
                                                }
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <br />
                    </div>
                    @*</div>*@
                    optionQuestionCounter++;
                    break;
                }
            }


            for (int n = 0; n < Model.DocumentQuestions.Count; n++)
            {

                if (Model.DocumentQuestions[n].OrderNumber == i)
                {
                    <div class="form-group" id="QuestionID_@i">
                        @*<div class="form-group">*@
                        <input value="@Model.DocumentQuestions[n].Description" class="form-control" id="documentQuestionDescription_@documentQuestionCounter" readonly />
                        <input type="hidden" id="OrderNumberDQ_@documentQuestionCounter" name="OrderNumber" value="@Model.DocumentQuestions[n].OrderNumber">
                        <div class="custom-control custom-switch">
                            <input asp-for="@Model.DocumentQuestions[n].IsRequired" type="checkbox" class="custom-control-input" id="IsRequiredTextQuestion_@documentQuestionCounter" disabled="disabled">
                            <label class="custom-control-label" for="IsRequiredTextQuestion_@counter">Required</label>
                        </div>

                        @for (int j = 0; j < Model.DocumentQuestions[n].Answers.Count; j++)//j
                        {
                            if (Model.DocumentQuestions[n].Answers.ToList()[j].CorrelationToken == currentToken)
                            {
                                for (int k = 0; k < Model.DocumentQuestions[n].Answers.ToList()[j].FileAnswers.Count; k++)
                                {

                                    var currentPath = Model.DocumentQuestions[n].Answers.ToList()[j].FileAnswers.ToList()[k].FilePath;
                                    var pFileName = currentPath.Split('_').Last();
                                    <br />
                                    <div class="form-group">
                                        <div class="btn btn-outline-info">
                                            <a href="@currentPath" download="@pFileName">Download</a>
                                        </div>
                                    </div>

                                }
                            }
                        }

                        <br />
                    </div>
                    @*</div>*@
                    documentQuestionCounter++;
                    break;
                }
            }
        }
    </div>
</div>

