﻿@model WebFormsDM.Web.Models.FormViewModel


<img src="~/Images/NoAnswersYet.png" height="463" width="1100" alt="No answers yet!" />
<br />
@*<p align="center">
    <a asp-controller="FillForm" asp-action="Fill" asp-route-id="@Model.Id" class="btn btn-outline-info">Back To Form</a>
</p>*@
