﻿@model WebFormsDM.Web.Models.FormViewModel

@{
    ViewData["Title"] = "Create";

}

<h1>Create Form</h1>

<hr />
<br/>
<div class="row">
    <div class="col-md-11">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <input asp-for="Title" class="form-control" placeholder="Untitled form" id="formTitle" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="Description" class="form-control" placeholder="Description" id="formDescription" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="col-sm-12" id="questionContainer">

        </div>
        <br />
        <div class="row">
            <div class="col-md-4">
                <input class="btn btn-outline-info" type="button" id="btnAddTextQ" value="Add Text Question" />
            </div>
            <div class="col-md-4">
                <input class="btn btn-outline-info" type="button" id="btnAddOptionQ" value="Add Option Question" />
            </div>
            <div class="col-md-4">
                <input class="btn btn-outline-info" type="button" id="btnAddDocumentQ" value="Add Document Question" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4">
                <button id="submitFormViewModel" onclick="create()" type="submit" value="Create" class="btn btn-info">Create</button>
            </div>
        </div>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/createForm.js"></script>

}

