﻿@model WebFormsDM.Web.Models.FormViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<br/>

<div class="col-md-11">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <input asp-for="Title" class="form-control" id="formTitle" readonly />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="Description" class="form-control" id="formDescription" readonly />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="col-sm-12" id="questionContainer">
        @{
            int counter = 1;
            int optionQuestionCounter = 1;
            int optionsCounter = 1;
            int documentQuestionCounter = 1;
            //int allQuestionsCount = Model.TextQuestions.Count
            //                      + Model.OptionQuestions.Count
            //                      + Model.DocumentQuestions.Count;
            int textQMaxOrderNumber = 0;
            int optionQMaxOrderNumber = 0;
            int documentQMaxOrderNumber = 0;

            if (Model.TextQuestions.Count != 0)
            {
                textQMaxOrderNumber = Model.TextQuestions.LastOrDefault().OrderNumber;
            }

            if (Model.OptionQuestions.Count != 0)
            {
                optionQMaxOrderNumber = Model.OptionQuestions.LastOrDefault().OrderNumber;
            }

            if (Model.DocumentQuestions.Count != 0)
            {
                documentQMaxOrderNumber = Model.DocumentQuestions.LastOrDefault().OrderNumber;
            }

            int maxOrderNumber = textQMaxOrderNumber;

            if (optionQMaxOrderNumber > textQMaxOrderNumber && optionQMaxOrderNumber > documentQMaxOrderNumber)
            {
                maxOrderNumber = optionQMaxOrderNumber;
            }
            else if (documentQMaxOrderNumber > textQMaxOrderNumber && documentQMaxOrderNumber > optionQMaxOrderNumber)
            {
                maxOrderNumber = documentQMaxOrderNumber;
            }
        }

        @for (int i = 1; i <= maxOrderNumber; i++)
        {

            for (int j = 0; j < Model.TextQuestions.Count; j++)
            {
                if (Model.TextQuestions[j].OrderNumber == i)
                {
                    <div class="col-sm-12" id="QuestionID_@i">
                        <div class="col-sm-11">
                            <input value="@Model.TextQuestions[j].Description" class="form-control" id="textQuestionDescription_@counter" />
                            <input type="hidden" id="OrderNumber_@counter" name="OrderNumber" value="@Model.TextQuestions[j].OrderNumber">
                            <div class="col-sm-12">
                                <div class="custom-control custom-switch">
                                    <input asp-for="@Model.TextQuestions[j].IsLongAnswer" type="checkbox" class="custom-control-input" id="IsLongAnswerTextQuestion_@counter">
                                    <label class="custom-control-label" for="IsLongAnswerTextQuestion_@counter">Long answer</label>
                                </div>
                                <div class="custom-control custom-switch">
                                    <input asp-for="@Model.TextQuestions[j].IsRequired" type="checkbox" class="custom-control-input" id="IsRequiredTextQuestion_@counter">
                                    <label class="custom-control-label" for="IsRequiredTextQuestion_@counter">Required</label>
                                </div>
                            </div>
                            <div>
                                <div class="col-sm-4" id="counter">
                                    <button onclick="removeQ(this.id)" class="btn btn-info" id="@i"> Remove </button>
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                    counter++;
                    break;
                }
            }

            for (int k = 0; k < Model.OptionQuestions.Count; k++)
            {
                if (Model.OptionQuestions[k].OrderNumber == i)
                {
                    <div class="col-sm-12" id="QuestionID_@i">
                        <div class="col-sm-11">
                            <input value="@Model.OptionQuestions[k].Description" class="form-control" id="optionQuestionDescription_@optionQuestionCounter" />
                            <input type="hidden" id="OrderNumberOQ_@optionQuestionCounter" name="OrderNumber" value="@Model.OptionQuestions[k].OrderNumber">
                            <div class="col-sm-12">
                                <div class="custom-control custom-switch">
                                    <input asp-for="@Model.OptionQuestions[k].IsRequired" type="checkbox" class="custom-control-input" id="IsRequiredOptionQuestion_@optionQuestionCounter">
                                    <label class="custom-control-label" for="IsRequiredOptionQuestion_@optionQuestionCounter">Required</label>
                                    <span asp-validation-for="@Model.OptionQuestions[k].IsRequired" class="text-danger"></span>
                                </div>
                                <div class="custom-control custom-switch">
                                    <input asp-for="@Model.OptionQuestions[k].IsAllowedMultipleAnswers" type="checkbox" class="custom-control-input" id="IsAllowedMultipleAnswers_@optionQuestionCounter">
                                    <label class="custom-control-label" for="IsAllowedMultipleAnswers_@optionQuestionCounter">Allowed Multiple Answers</label>
                                </div>
                                <div class="col-sm-11">
                                    <div class="col-sm-11" id="add_@optionQuestionCounter">
                                        @for (int m = 0; m < Model.OptionQuestions[k].Options.Count; m++)
                                        {
                                            if (m < 2)
                                            {
                                                <div id="optionID_@optionsCounter" class="row">
                                                    <input value="@Model.OptionQuestions[k].Options[m].Option" type="text" id="option_@optionsCounter" />
                                                </div>
                                                optionsCounter++;
                                            }
                                            else
                                            {
                                                <div id="optionID_@optionsCounter" class="row">
                                                    <input value="@Model.OptionQuestions[k].Options[m].Option" type="text" id="option_@optionsCounter" />
                                                    <div class="col-sm-4" id="counter">
                                                        <button onclick="removeOption(this.id)" class="btn btn-outline-info" id="@optionsCounter"> Remove </button>
                                                    </div>
                                                </div>
                                                optionsCounter++;
                                            }

                                        }
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div>
                                <div class="col-sm-4" id="counter">
                                    <button onclick="addFunction(this.id)" class="btn btn-outline-info" id="@optionQuestionCounter"> Add Option </button>
                                </div>
                            </div>
                            <br />
                            <div>
                                <div class="col-sm-4" id="counter">
                                    <button onclick="removeQ(this.id)" class="btn btn-info" id="@i"> Remove </button>
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                    optionQuestionCounter++;
                    break;
                }
            }

            for (int n = 0; n < Model.DocumentQuestions.Count; n++)
            {
                if (Model.DocumentQuestions[n].OrderNumber == i)
                {
                    <div class="col-sm-12" id="QuestionID_@i">
                        <div class="col-sm-11">
                            <input value="@Model.DocumentQuestions[n].Description" class="form-control" id="documentQuestionDescription_@documentQuestionCounter" />
                            <input type="hidden" id="OrderNumberDQ_@documentQuestionCounter" name="OrderNumber" value="@Model.DocumentQuestions[n].OrderNumber">
                            <div class="col-sm-12">
                                <div class="custom-control custom-switch">
                                    <input asp-for="@Model.DocumentQuestions[n].IsRequired" type="checkbox" class="custom-control-input" id="IsRequiredDocumentQuestion_@documentQuestionCounter">
                                    <label class="custom-control-label" for="IsRequiredDocumentQuestion_@documentQuestionCounter">Required</label>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="dropdown pull-left" id="NumberOfFiles_@documentQuestionCounter">
                                    <label class="control-label">
                                        Number Of Files
                                        <select class="form-control">
                                            @{
                                                switch (Model.DocumentQuestions[n].NumberOfFiles)
                                                {
                                                    case 1:
                                                        <option selected="selected">
                                                            @Model.DocumentQuestions[n].NumberOfFiles
                                                        </option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                        break;
                                                    case 2:
                                                        <option value="1">1</option>
                                                        <option selected="selected">
                                                            @Model.DocumentQuestions[n].NumberOfFiles
                                                        </option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                        break;
                                                    case 3:
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option selected="selected">
                                                            @Model.DocumentQuestions[n].NumberOfFiles
                                                        </option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                        break;
                                                    case 4:
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option selected="selected">
                                                            @Model.DocumentQuestions[n].NumberOfFiles
                                                        </option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                        break;
                                                    case 5:
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option selected="selected">
                                                            @Model.DocumentQuestions[n].NumberOfFiles
                                                        </option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                        break;
                                                    case 6:
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option selected="selected">
                                                            @Model.DocumentQuestions[n].NumberOfFiles
                                                        </option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                        break;
                                                    case 7:
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option selected="selected">
                                                            @Model.DocumentQuestions[n].NumberOfFiles
                                                        </option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                        break;
                                                    case 8:
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option selected="selected">
                                                            @Model.DocumentQuestions[n].NumberOfFiles
                                                        </option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                        break;
                                                    case 9:
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option selected="selected">
                                                            @Model.DocumentQuestions[n].NumberOfFiles
                                                        </option>
                                                        <option value="10">10</option>
                                                        break;
                                                    case 10:
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option selected="selected">
                                                            @Model.DocumentQuestions[n].NumberOfFiles
                                                        </option>
                                                        break;
                                                }
                                            }
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="dropdown pull-right" id="FileSize_@documentQuestionCounter">
                                    <label class="control-label">
                                        File Size
                                        <select class="form-control">
                                            @{
                                                switch (Model.DocumentQuestions[n].MaxFileSize)
                                                {
                                                    case "1MB":
                                                        <option selected="selected">@Model.DocumentQuestions[n].MaxFileSize</option>
                                                        <option value="10">10MB</option>
                                                        <option value="100">100MB</option>
                                                        break;
                                                    case "10MB":
                                                        <option value="1">1MB</option>
                                                        <option selected="selected">@Model.DocumentQuestions[n].MaxFileSize</option>
                                                        <option value="100">100MB</option>
                                                        break;
                                                    case "100MB":
                                                        <option value="1">1MB</option>
                                                        <option value="10">10MB</option>
                                                        <option selected="selected">@Model.DocumentQuestions[n].MaxFileSize</option>
                                                        break;
                                                }
                                            }
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <div>
                                <div class="col-sm-4" id="counter">
                                    <button onclick="removeQ(this.id)" class="btn btn-info" id="@i"> Remove </button>
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                    documentQuestionCounter++;
                    break;
                }
            }
        }
    </div>
    <br />
    <div class="row">
        <div class="col-md-4">
            <input class="btn btn-outline-info" type="button" id="btnAddTextQ" value="Add Text Question" />
        </div>
        <div class="col-md-4">
            <input class="btn btn-outline-info" type="button" id="btnAddOptionQ" value="Add Option Question" />
        </div>
        <div class="col-md-4">
            <input class="btn btn-outline-info" type="button" id="btnAddDocumentQ" value="Add Document Question" />
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-1">
            <button id="submitFormViewModel" onclick="create()" type="submit" value="Save" class="btn btn-info">Save</button>
        </div>
        <div class="col-md-1">
            <a asp-controller="FillForm" asp-action="Fill" asp-route-id="@Model.Id" class="btn btn-info">Back</a>
        </div>
    </div>
    @*<div class="row">
        <div class="col-md-3">
            <button id="submitFormViewModel" onclick="create()" type="submit" value="Save" class="btn btn-info">Save Changes</button>
        </div>
        <div class="col-md-3">
            <a asp-area="" asp-controller="FillForm" asp-action="Fill" asp-route-id="@Model.Id" class="btn btn-info">Back To Form</a>
        </div>
        <br />
    </div>*@
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

        let masterCouter = @maxOrderNumber;
        console.log(masterCouter)

        let counter = @Model.TextQuestions.Count;

        $('#btnAddTextQ').on('click', () => {
            counter++
            masterCouter++
            let div = document.getElementById('questionContainer')
            let element =
                `<div class="col-sm-12" id="QuestionID_${masterCouter}">
                                    <div class="col-sm-11">
                                        <input type="text" class="form-control" id="textQuestionDescription_${counter}" placeholder="Enter your question">
                                        <input type="hidden" id="OrderNumber_${counter}" name="OrderNumber" value="${masterCouter}">
                                        <div class="col-sm-12">
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input" id="IsLongAnswerTextQuestion_${counter}">
                                                <label class="custom-control-label" for="IsLongAnswerTextQuestion_${counter}">Long answer</label>
                                            </div>
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input" id="IsRequiredTextQuestion_${counter}">
                                                <label class="custom-control-label" for="IsRequiredTextQuestion_${counter}">Required</label>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="col-sm-4" id="counter">
                                                <button onclick="removeQ(this.id)" class="btn btn-info" id="${masterCouter}"> Remove </button>
                                            </div>
                                        </div>
                                        <br />
                                    </div>
                                </div>`
            $(div).append(element)
        })

        function removeQ(id) {
            let divToRomove = "QuestionID_" + id;
            let element = document.getElementById(divToRomove)
            element.remove()
        }

        let counterOptionQuestion = @Model.OptionQuestions.Count;
        $('#btnAddOptionQ').on('click', () => {
            counterOptionQuestion++
            masterCouter++
            counterOptions++
            counterOptions++
            let div = document.getElementById('questionContainer')
            let element = `<div class="col-sm-12" id="QuestionID_${masterCouter}">
                            <div class="col-sm-11">
                                <input type="text" class="form-control" id="optionQuestionDescription_${counterOptionQuestion}" placeholder="Enter your question">
                                <input type="hidden" id="OrderNumberOQ_${counterOptionQuestion}" name="OrderNumber" value="${masterCouter}">
                                <div class="col-sm-12">
                                    <div class="custom-control custom-switch">
                                        <input asp-for="IsRequired" type="checkbox" class="custom-control-input" id="IsRequiredOptionQuestion_${counterOptionQuestion}">
                                        <label class="custom-control-label" for="IsRequiredOptionQuestion_${counterOptionQuestion}">Required</label>
                                        <span asp-validation-for="IsRequired" class="text-danger"></span>
                                    </div>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="IsAllowedMultipleAnswers_${counterOptionQuestion}">
                                        <label class="custom-control-label" for="IsAllowedMultipleAnswers_${counterOptionQuestion}">Allowed Multiple Answers</label>
                                    </div>
                                    <div class="col-sm-11">
                                        <div class="col-sm-11" id="add_${counterOptionQuestion}">
                                        <div id="optionID_${counterOptions - 1}" class="row">
                                       <input type="text" id="option_${counterOptions - 1}" placeholder="Enter your option">
                                 </div>
                                 <div id="optionID_${counterOptions}" class="row">
                                       <input type="text" id="option_${counterOptions}" placeholder="Enter your option">
                                 </div>
                                            <span style="color:red" id="message_${counterOptionQuestion}"> </span>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div>
                                    <div class="col-sm-4" id="counter">
                                        <button onclick="addFunction(this.id)" class="btn btn-outline-info" id="${counterOptionQuestion}"> Add Option </button>
                                    </div>
                                </div>
                                <br />
                                <div>
                                    <div class="col-sm-4" id="counter">
                                        <button onclick="removeQ(this.id)" class="btn btn-info" id="${masterCouter}"> Remove </button>
                                    </div>
                                </div>
                                <br />
                            </div>
                        </div>`
            $(div).append(element)
        })

        let counterOptions = @Model.OptionQuestions.Select(o => o.Options.Count).Sum();

        function addFunction(id) {
            counterOptions++
            let divConteiner = "add_" + id;
            let div = document.getElementById(divConteiner)
            let element = `<div id="optionID_${counterOptions}" class="row">
                                       <input type="text" id="option_${counterOptions}" placeholder="Enter your option">
                                       <div class="col-sm-4" id="counter">
                                        <button onclick="removeOption(this.id)" class="btn btn-outline-info" id="${counterOptions}"> Remove </button>
                                    </div>
                                 </div>`
            $(div).append(element)
        }

        function removeOption(id) {
            let divToRomove = "optionID_" + id;
            let element = document.getElementById(divToRomove)
            element.remove()
        }

        let counterDocumentQ = @Model.DocumentQuestions.Count;
        $('#btnAddDocumentQ').on('click', () => {
            counterDocumentQ++
            masterCouter++
            let div = document.getElementById('questionContainer')
            let element = `<div class="col-sm-12" id="QuestionID_${masterCouter}">
                          <div class="col-sm-11">
                              <input type="text" class="form-control" id="documentQuestionDescription_${counterDocumentQ}" placeholder="Enter your question">
                              <input type="hidden" id="OrderNumberDQ_${counterDocumentQ}" name="OrderNumber" value="${masterCouter}">
                              <div class="col-sm-12">
                                  <div class="custom-control custom-switch">
                                      <input type="checkbox" class="custom-control-input" id="IsRequiredDocumentQuestion_${counterDocumentQ}">
                                      <label class="custom-control-label" for="IsRequiredDocumentQuestion_${counterDocumentQ}">Required</label>
                                  </div>
                              </div>
                              <div class="col-sm-12">
                                  <div class="dropdown pull-left" id="NumberOfFiles_${counterDocumentQ}">
                                      <label class="control-label">
                                          Number Of Files
                                          <select class="form-control">
                                              <option value="1">1</option>
                                              <option value="2">2</option>
                                              <option value="3">3</option>
                                              <option value="4">4</option>
                                              <option value="5">5</option>
                                              <option value="6">6</option>
                                              <option value="7">7</option>
                                              <option value="8">8</option>
                                              <option value="9">9</option>
                                              <option value="10">10</option>
                                          </select>
                                      </label>
                                  </div>
                              </div>
                              <div class="col-sm-12">
                                  <div class="dropdown pull-right" id="FileSize_${counterDocumentQ}">
                                      <label class="control-label">
                                          File Size
                                          <select class="form-control">
                                              <option value="1">1MB</option>
                                              <option value="10">10MB</option>
                                              <option value="100">100MB</option>
                                          </select>
                                      </label>
                                  </div>
                              </div>
                              <div>
                                  <div class="col-sm-4" id="counter">
                                      <button onclick="removeQ(this.id)" class="btn btn-info" id="${masterCouter}"> Remove </button>
                                  </div>
                              </div>
                              <br />
                          </div>
                       </div>`
            $(div).append(element)
        })

        function create() {
            let title = document.getElementById("formTitle").value;
            let description = document.getElementById("formDescription").value;
            let textQuestionList = new Array();
            let optionQuestionlist = new Array();
            let documentQuestionList = new Array();

            for (let i = 1; i <= counter; i++) {

                let modelTextQuestionIsRequired = false;
                let modelTextQuestionIsLongAnswer = false;

                if ((document.getElementById('textQuestionDescription_' + i.toString())) === null) {
                    continue;
                }
                else {
                    let questionDescription = document.getElementById('textQuestionDescription_' + i.toString()).value;
                    let orderNumber = document.getElementById('OrderNumber_' + i.toString()).value;

                    let islongAnswer = document.getElementById('IsLongAnswerTextQuestion_' + i.toString());
                    let isRequired = document.getElementById('IsRequiredTextQuestion_' + i.toString());

                    if (islongAnswer.checked) {
                        modelTextQuestionIsLongAnswer = true;
                    }
                    if (isRequired.checked) {
                        modelTextQuestionIsRequired = true;
                    }
                    let TextQuestionViewModel = {}

                    TextQuestionViewModel.Description = questionDescription;
                    TextQuestionViewModel.IsLongAnswer = modelTextQuestionIsLongAnswer;
                    TextQuestionViewModel.IsRequired = modelTextQuestionIsRequired;
                    TextQuestionViewModel.OrderNumber = orderNumber;

                    textQuestionList.push(TextQuestionViewModel);

                }
            }

            for (let j = 1; j <= counterOptionQuestion; j++) {

                let modelOptionQuestionIsRequired = false;
                let modelIsAllowedMultipleAnswer = false;

                if ((document.getElementById('optionQuestionDescription_' + j.toString())) === null) {
                    continue;
                }
                else {
                    let optionQuestionDescription = document.getElementById('optionQuestionDescription_' + j.toString()).value;
                    let orderNumberOptionQ = document.getElementById('OrderNumberOQ_' + j.toString()).value;
                    let isRequiredOptionQuestion = document.getElementById('IsRequiredOptionQuestion_' + j.toString());
                    let isAllowedMultipleAnswers = document.getElementById('IsAllowedMultipleAnswers_' + j.toString());


                    let optionsInfo = $(`#add_${j} :input`);

                    console.log(optionsInfo);
                    console.log(optionsInfo.length);

                    if (optionsInfo.length < 2) {
                        $(`#message${j}`).text("Add at least 2 options");
                    }
                    else {
                        $(`#message${j}`).text("");
                    }

                    let Options = new Array()


                    for (var k = 0; k < optionsInfo.length; k++) {

                        let optionsQuestionOption = optionsInfo[k].value;
                        console.log(optionsQuestionOption);
                        Options.push(optionsQuestionOption);
                    }

                    if (isRequiredOptionQuestion.checked) {
                        modelOptionQuestionIsRequired = true;
                    }

                    if (isAllowedMultipleAnswers.checked) {
                        modelIsAllowedMultipleAnswer = true;
                    }

                    let OptionQuestionsViewModel = {}

                    OptionQuestionsViewModel.Description = optionQuestionDescription;
                    OptionQuestionsViewModel.IsRequired = modelOptionQuestionIsRequired;
                    OptionQuestionsViewModel.OptionsAsString = Options;
                    OptionQuestionsViewModel.IsAllowedMultipleAnswers = modelIsAllowedMultipleAnswer;
                    OptionQuestionsViewModel.OrderNumber = orderNumberOptionQ;

                    optionQuestionlist.push(OptionQuestionsViewModel);
                }
            }

            for (let m = 1; m <= counterDocumentQ; m++) {

                let modelDocumentQuestionIsRequired = false;

                if ((document.getElementById('documentQuestionDescription_' + m.toString())) === null) {
                    continue;
                }
                else {
                    let documentQuestionDescription = document.getElementById('documentQuestionDescription_' + m.toString()).value;
                    let orderNumberDocumentQ = document.getElementById('OrderNumberDQ_' + m.toString()).value;
                    let documentQuestionIsRequired = document.getElementById('IsRequiredDocumentQuestion_' + m.toString());
                    var dQNumberOfFiles = $('#NumberOfFiles_' + m.toString()).find(":selected").text();
                    var dQFileSize = $('#FileSize_' + m.toString()).find(":selected").text();

                    if (documentQuestionIsRequired.checked) {
                        modelDocumentQuestionIsRequired = true;
                    }
                    let DocumentQuestionViewModel = {}

                    DocumentQuestionViewModel.Description = documentQuestionDescription;
                    DocumentQuestionViewModel.IsRequired = modelDocumentQuestionIsRequired;
                    DocumentQuestionViewModel.NumberOfFiles = dQNumberOfFiles;
                    DocumentQuestionViewModel.MaxFileSize = dQFileSize;
                    DocumentQuestionViewModel.OrderNumber = orderNumberDocumentQ;

                    documentQuestionList.push(DocumentQuestionViewModel);
                }
            }

            let TextQuestions = JSON.stringify(textQuestionList);
            let OptionQuestions = JSON.stringify(optionQuestionlist);
            let DocumentQuestions = JSON.stringify(documentQuestionList);
            console.log(title);
            console.log(description);

            $.ajax({
                type: 'Post',
                url: 'Edit',
                data: {
                    'Title': title,
                    'Description': description,
                    'TextQuestions': textQuestionList,
                    'OptionQuestions': optionQuestionlist,
                    'DocumentQuestions': documentQuestionList
                },
                success: function () {
                    window.location.replace("/Forms/Index")

                }
            })
        }

    </script>
}