﻿@model WebFormsDM.Web.Models.FormViewModel
@{
    ViewData["Title"] = "GetFormWithAnswers";
}




<br />

<div class="col-sm-12">
    @if (Model.AllCorrelationTokens.Count == 0)
    {
       @await Html.PartialAsync("_NoAnswersPartial")
        
    }
    else
    {
        <form>
            <div class="dropdown pull-right" id="responseNumber">
                <label class="control-label">
                    @*File Size*@
                    <select class="form-control" name="correlationToken">
                        @for (int i = 0; i < Model.AllCorrelationTokens.Count; i++)
                        {
                            int responseNumber = i + 1;
                            <option value="@Model.AllCorrelationTokens.ToList()[i]">Response @responseNumber</option>
                        }
                    </select>
                </label>
                <input type="hidden" value="@Model.Id" name="formId" />
            </div>
            <br />
            <input type="submit" asp-action="GetFormWithOneAnswer" value="View Answer" class="btn btn-outline-info">
        </form>
        <br />
        <br />
        @await Html.PartialAsync("_FormWithAnswersPartial")
        <br />
    }
</div>
<div class="col-md-1">
    <form>
        <input type="hidden" value="@Model.Id" name="id" />
        <input type="submit" asp-controller="FillForm" asp-action="Fill" value="Back" class="btn btn-info" />
    </form>
</div>




@section Scripts{
    <script>
        $('#responseNumber').change(function () {
            var response = $('#responseNumber option:selected').val();

            console.log(response);
            /* $('#hiddenselectedwifivalue').val(selectedwifi);*/ //set value of hidden field


        });
    </script>
}
