﻿@model WebFormsDM.Web.Models.FormViewModel
@{
    ViewData["Title"] = "GetFormWithOneAnswer";
}

   
<br />
<br />
@await Html.PartialAsync("_FormWithAnswersPartial")
<br />
<div class="col-md-1">
    <form>
        <input type="hidden" value="@Model.Id" name="id" />
        <input type="submit" asp-action="GetFormWithAnswers" value="Back" class="btn btn-info" />
    </form>
</div>
