﻿@model IEnumerable<WebFormsDM.Web.Models.FormViewModel>

@{
    ViewData["Title"] = "ListForms";
}

<br/>
<br/>
<div class="text-center">
    <h4>My Forms</h4>
</div>

<br />
<br />

<div class="card-deck">
    @foreach (var item in Model)
    {
        <div class="col-sm-4">
            <div class="card text-center bg-white " style="width: 18rem; ">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <br />
                    <p class="card-text">
                        Created on:
                        <br />
                        @item.CreatedOn
                    </p>
                    <p class="card-text">
                        Current answers count:
                        <br />
                        @item.NumberOfFilledForms
                    </p>
                </div>
                <div class="card-footer">
                    <a asp-area="" asp-controller="FillForm" asp-action="Fill" asp-route-id="@item.Id" class="btn btn-info">Preview</a>

                    <input type="button" value="Share" class="btn btn-info" data-name="@item.Title" data-id="@item.Id" id="sendButton" data-toggle="modal" data-target="#exampleModal" />
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Send survey: @item.Title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form asp-controller="SendSurvey" asp-action="SendSurveyByEmail">
                                        <input value="@item.Id" name="Id" type="hidden" id="hiddenId" />
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Recipient:</label>
                                            <input class="form-control" asp-for="@item.RecipientOfTheSurvey" name="RecipientOfTheSurvey" id="message-text" required />
                                            <span asp-validation-for="@item.RecipientOfTheSurvey" class="text-danger"></span>
                                        </div>
                                        <button type="button" class="btn btn-outline-info" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-info" value="Send">Send</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <br />
        </div>

    }
</div>
@section Scripts {
    <script>
        $(function () {
            $(document).on('click', '#sendButton', function (x) {
                x.preventDefault();
                let title = $(this).data("name");
                let formId = $(this).data("id");
                $("#exampleModalLabel").html("Send survey: " + title);
                $("#hiddenId").removeAttr("value");
                $("#hiddenId").attr("value", formId);

                console.log(title);
                console.log(formId);

            });
        });
    </script>
}
